.alex-footer {
  background-image: url('../images/alex-footer-background.jpg');
}

.footer-about-item {
  list-style: none;
  color: #b6c197;
}

.footer-p {
  color: rgb(182, 193, 151);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.footer-about-h3 {
  color: white;
}

.footer-Address-p {
  color: white;
}

.footer-phone {
  color: white;
  text-decoration: none;
}

.footer-about-item-touch {
  color: rgb(182, 193, 151);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.footer-all-p {
  color: rgb(182, 193, 151);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}

.footer-mailto {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0px;
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  gap: 14px;
  
}

.footer-social-item-media {
  border: none;
  position: relative;
  left: -175px;
  bottom: -7px;
}

.footer-container {
  
}
