.box__first {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 165px;
  gap: 133px;
  margin-bottom: 100px;
}
.title__special {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: rgba(77, 83, 60, 1);
}
.text__special {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(33, 56, 66, 0.6);
}
.box__big {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.box__big__right {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 100px;
}
.title {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: rgba(77, 83, 60, 1);
  margin-bottom: 24px;
}
.text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 90px;
  width: 421px;
}
.context {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(212, 214, 212, 1);
}
.box__img {
  position: relative;
}
.box__img__right {
  position: relative;
}
.projects__box {
  margin-right: 135px;
  margin-left: 54px;
  margin-top: 80px;
}
.projects__box__right {
  margin-left: auto;
  margin-right: 20px;
}
.comment {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1459);
  width: 453px;
  position: absolute;
  right: -40px;
  bottom: -65px;
}
.comment__right {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1459);
  width: 453px;
  position: absolute;
  left: -40px;
  bottom: -65px;
}

.comment__text {
  font-family: Poppins;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(77, 83, 60, 1);
  margin: 30px 30px 24px 30px;
}
.who {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 30px;
}
.who__text {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}
.name {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgba(77, 83, 60, 1);
  margin-bottom: 0;
}
.too {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(21, 41, 52, 1);
  margin-top: 4px;
}