@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 1110px;
  margin: 0 auto;
  outline: 1px solid black;
}

li {
  list-style: none;
}

.box__first {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 165px;
  gap: 133px;
  margin-bottom: 100px;
}

.title__special {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: rgb(77, 83, 60);
}

.text__special {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(33, 56, 66, 0.6);
}

.box__big {
  display: flex;
  flex-direction: row;
}

.box__big__right {
  display: flex;
  flex-direction: row;
}

.title {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color: rgb(77, 83, 60);
}

.text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(33, 56, 66, 0.6);
}

.name {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: rgb(77, 83, 60);
}

.comment__text {
  font-family: Poppins;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgb(77, 83, 60);
}

.too {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgb(21, 41, 52);
}

.section-deaction {
  width: 1110px;
  height: 461px;
}

.deaction-ttl {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #4D533C;
  width: 607px;
}

.deaction-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.deaction-card {
  width: 255px;
  height: 309px;
}

.deaction-card-ttl {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #4D533C;
  width: 183px;
  height: 68px;
}

.deaction-card-desc {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgba(33, 56, 66, 0.6);
  width: 194px;
  height: 78px;
}

.deaction-more-desc {
  margin-top: 56px;
}

.deaction-more-desc:hover .deaction-more-link {
  color: #FFD723;
}
.deaction-more-desc:hover .triangle-right:before {
  border-color: transparent transparent transparent #FFD723;
}

.deaction-more-link {
  font-family: cursive;
  font-size: 16px;
  color: #D4D6D4;
}

.triangle-right:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 10px;
  border-style: solid;
  border-width: 7px 0 7px 6.6px;
  border-color: transparent transparent transparent #D4D6D4;
}

@media screen and (max-width: 480px) {
  .section-deaction {
    width: 480px;
    height: 761px;
  }
  .deaction-ttl {
    font-size: 26px;
    width: 407px;
  }
  .deaction-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .deaction-card {
    width: 210px;
  }
  .deaction-card-ttl {
    font-size: 20px;
    width: 163px;
  }
  .deaction-card-desc {
    font-size: 14px;
    width: 174px;
  }
  .deaction-more-link {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-deaction {
    width: 768px;
    height: 761px;
  }
  .deaction-ttl {
    font-size: 32px;
    width: 707px;
  }
  .deaction-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .deaction-card {
    width: 255px;
  }
  .deaction-card-ttl {
    font-size: 24px;
    width: 183px;
  }
  .deaction-card-desc {
    font-size: 14px;
    width: 194px;
  }
  .deaction-more-link {
    font-size: 16px;
  }
}
.alex-footer {
  background-image: url("../images/alex-footer-background.jpg");
}

.footer-about-item {
  list-style: none;
  color: #B6C197;
}

.footer-p {
  color: #B6C197;
}

.footer-about-h3 {
  color: white;
}

.footer-Address-p {
  color: white;
}

.footer-phone {
  color: white;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */