<section class="section-deaction container">
  <h2 class="deaction-ttl">
    Deation & Evaluation - Best Way to Kick off Your Product Idea
  </h2>
  <ul class="deaction-list">
    <li class="deaction-card">
        <h4 class="deaction-card-ttl">Deation & Evaluation - Best Way to Kick off Your Product Idea</h4>
        <p class="deaction-card-desc">A five-day workshop that will help you answer crucial business questions</p>
        <div class="deaction-more-desc"><a class="deaction-more-link">Read More</a></div>
        <!-- add arrow -->
    </li>
  </ul>
</section>
