<section class="section-deaction container">
  <h2 class="deaction-ttl">
    Deation & Evaluation - Best Way to Kick off Your Product Idea
  </h2>
  <ul class="deaction-list">
    <li class="deaction-card">
      <h4 class="deaction-card-ttl">Product Design Sprint</h4>
      <p class="deaction-card-desc">
        A five-day workshop that will help you answer crucial business questions
      </p>
      <div class="deaction-more-desc">
        <a href="#" class="deaction-more-link triangle-right"
          >&nbsp;Read More</a
        >
      </div>
      <!-- add arrow -->
    </li>
    <li class="deaction-card">
      <h4 class="deaction-card-ttl">Scoping Session</h4>
      <p class="deaction-card-desc">
        A workshop aimed at shaping your business idea, answering questions
        regarding project planning
      </p>
      <div class="deaction-more-desc">
        <a href="#" class="deaction-more-link triangle-right"
          >&nbsp;Read More</a
        >
      </div>
      <!-- add arrow -->
    </li>
    <li class="deaction-card">
      <h4 class="deaction-card-ttl">UX Review</h4>
      <p class="deaction-card-desc">
        An evaluation which will help you radically improve your product.
      </p>
      <div class="deaction-more-desc">
        <a href="#" class="deaction-more-link triangle-right"
          >&nbsp;Read More</a
        >
      </div>
      <!-- add arrow -->
    </li>
    <li class="deaction-card">
      <h4 class="deaction-card-ttl">Code Review</h4>
      <p class="deaction-card-desc">
        Do you know what one of the key secrets of success is what makes people
        successful in business
      </p>
      <div class="deaction-more-desc">
        <a href="#" class="deaction-more-link triangle-right"
          >&nbsp;Read More</a
        >
      </div>
      <!-- add arrow -->
    </li>
  </ul>
</section>
