<footer class="alex-footer">
  <div class="container footer-container">
    <ul class="footer-contacts-list">
      <li class="footer-contacts-item">
        <p class="footer-p">Phone</p>
        <a class="footer-phone" href="tel:+3250312832">+32 50 31 28 32</a>
      </li>
      <li class="footer-contacts-item">
        <p class="footer-p">Address</p>
        <p class="footer-Address-p">491 Merlin Crest Suite 963</p>
      </li>
    </ul>
    <section class="footer-about-section">
      <div class="footer-about-div">
      <h3 class="footer-about-h3">SERVICES</h3>
      <ul class="footer-about-list">
        <li class="footer-about-item">Strategy Design</li>
        <li class="footer-about-item">Product Design</li>
        <li class="footer-about-item">Content Strategy</li>
        <li class="footer-about-item">Brand Strategy</li>
        <li class="footer-about-item">Development</li>
      </ul>
    </div>
    <div class="footer-about-div">
      <h3 class="footer-about-h3">HELP AND ADVICE</h3>
      <ul class="footer-about-list">
        <li class="footer-about-item">How it works</li>
        <li class="footer-about-item">Contact Support</li>
        <li class="footer-about-item">Private Policy</li>
        <li class="footer-about-item">FAQ</li>
      </ul>
    </div>
    <div class="footer-about-div">
      <h3 class="footer-about-h3">COMPANY</h3>
      <ul class="footer-about-list">
        <li class="footer-about-item">About</li>
        <li class="footer-about-item">Blog</li>
        <li class="footer-about-item">Contact</li>
        <li class="footer-about-item">Jobs</li>
      </ul>
    </div>
    <div class="footer-about-div footer-WL-line">
      <h3 class="footer-about-h3">GET IN TOUCH</h3>
      <ul class="footer-about-list-touch">
        <li class="footer-about-item-touch">
          Feel free to get in touch with us via email
        </li>
        
      </ul>
      <a class="footer-mailto" href="mailto:info.webovio@gmail.com">info.webovio@gmail.com</a>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <img
            src="./images/alex-oval-overlay-social-media-footer.svg"
            alt="overlay"
          />
        </li>
        <li class="footer-social-item">
          <img
            src="./images/alex-oval-overlay-social-media-footer.svg"
            alt="overlay"
          />
        </li>
        <li class="footer-social-item">
          <img
            src="./images/alex-oval-overlay-social-media-footer.svg"
            alt="overlay"
          />
        </li>
        <li class="footer-social-item">
          <img
            src="./images/alex-oval-overlay-social-media-footer.svg"
            alt="overlay"
          />
        </li>
        <li>
          <img
            class="footer-social-item-media"
            src="./images/alex-social-medias-footer.png"
            alt="alex-social-medias-footer"
          />
        </li>
      </ul>
    </div>
    </section>
    <ul class="footer-when-list">
      <li>
        <img class="footer-when-logo" src="./images/full-logo-with-text.svg" alt="logo" />
      </li>
      <li>
        <p class="footer-all-p">© 2020@webovio. All Rights Reserved.</p>
      </li>
    </ul>
  </div>
</footer>
