<header class="head">
    <div class="logos">
        <img class="fir" alt="Logo" src="./images/WebovioLogo.png">
        <img class="sec" alt="Icon" src="./images/Lilcon.png">
    </div>
    <div class="para">
        <p class="pa">A place where</p>
        <p class="pe">A creative agency for redemptive brands</p>
        <p class="po">Anteelo is a leading strategic design firm that builds powerful digital<br> 
        solutions for startups and enterprises.</p>
        <a class="linko" href="https://thatsthefinger.com/">&#x27A4; Get in touch</a>
    </div>

</header>