<header class="head">
    <div class="logos">
        <!-- <img alt="Logo" src="./images/full-logo-with-text.svg">
        <img alt="Icon" src="./images/Lilcon.png"> -->
    </div>
    <div class="para">
        <p class="pa">A place where</p>
        <p class="pe">A creative agency for redemptive brands</p>
        <p class="po">Anteelo is a leading strategic design firm that builds powerful digital<br> 
        solutions for startups and enterprises.</p>
        <a href="https://thatsthefinger.com/"><u>&#x27A4; Get in touch</u></a>
    </div>

</header>