<section class="projects">
    <div class="box__first">
        <h2 class="title__special">We Have Some
            Awesomr Project.</h2>
        <p class="text__special">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, </p>
    </div>
    <div class="box__big">
        <div class="box__img">
            <picture class="hata__x">
                <source srcset="./images/projects/hata@1x.jpg  1x, ./images/projects/hata@2x.jpg 2x" />
                <img src="./images/projects/hata@1x.jpg" alt="Кіт" />
            </picture>
            <div class="comment">
                <p class="comment__text">“In my history of working with trade show vendors, I can honestly say that
                    there is
                    not one company
                    that
                    I've ever worked with that has better service than Exhibit Systems.”</p>
                <p class="name">Angel Armstrong</p>
                <p class="too">Founder & CEO, Google</>
            </div>
        </div>
        <div class="projects__box">
            <h2 class="title">The wall new
                Balenciaga.com</h2>
            <p class="text">This article is floated online with an aim to help you find the best dvd printing solution.

                Dvd printing is an important feature used by large and small DVD production houses to print information
                on
                DVDs.</p>
            <p class="context"> See Case Study</p>
        </div>
    </div>
    <div class="box__big__right">
        <div class="projects__box">
            <h2 class="title">Is this the future of
                3D model?</h2>
            <p class="text">While it was just a TV show, that little speech at the beginning of the original Star Trek
                show
                really did do
                a good job of capturing our feelings about space.

                It is those feelings that drive our love of astronomy and our desire to learn more and more about it.
            </p>
            <p class="context"> See Case Study</p>
        </div>
        <div class="box__img">
            <picture class="buble__x">
                <source srcset="./images/projects/buble@1x.jpg  1x, ./images/projects/buble@2x.jpg 2x" />
                <img src="./images/projects/buble@1x.jpg" alt="Кіт" />
            </picture>
            <div class="comment">
                <p class="comment__text">“I know they are going to be honest with me. I am not going to get a subpar
                    product; I know it is going
                    to be good. That is the number one advantage of working with Exhibit Systems.</p>
                <p class="name">Lina Hart</p>
                <p class="too">Founder & CEO, Jico</p>
            </div>
        </div>
    </div>
    <div class="box__big">
        <div class="box__img">
            <picture class="ponchik__x">
                <source srcset="./images/projects/ponchik@1x.jpg  1x, ./images/projects/ponchik@2x.jpg 2x" />
                <img src="./images/projects/ponchik@1x.jpg" alt="Кіт" />
            </picture>
            <div class="comment">
                <p class="comment__text">“I know they are going to be honest with me. I am not going to get a subpar
                    product; I know it is going
                    to be good. That is the number one advantage of working with Exhibit Systems.</p>
                <p class="name">Lina Hart</p>
                <p class="too">Founder & CEO, Jico</>
            </div>
        </div>
        <div class="projects__box">
            <h2 class="title"> Is this the future of
                Online Booking</h2>
            <p class="text">You should be able to find several indispensable facts about motivation in the following
                paragraphs.

                If there’s at least one fact you didn’t know before, imagine the difference it might make. </p>
            <p class="context"> See Case Study</p>
        </div>
    </div>
</section>

<!-- SASHA BUV TUT :D -->